<html>

<head>
    <title>elice - 익명게시판 만들기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        .wrap {
            width: 680px;
            margin: 10px auto;
        }

        .title {
            text-align: center;
        }
    </style>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <div class="wrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Elice SNS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% if not session['login'] %}
                        <a class="nav-link" href="/login">로그인</a>
                        <a class="nav-link" href="/join">회원가입</a>
                        {% else %}
                        <a class="nav-link" href="/logout">로그아웃</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <hr>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>