{% extends 'base.html' %}
{% block scripts %}
<script>
    function login() {
        user_id = $("#userId").val()
        user_pw = $("#userPw").val()

        $.ajax({
            url: '/login',
            type: 'post',
            data: {
                'user_id': user_id,
                'user_pw': user_pw
            },
            success: function (res) {
                if (res['result'] == 'success') {
                    alert("로그인 성공")
                    window.location.href = '/'
                } else {
                    alert("로그인 실패!")
                    window.location.reload()
                }
            }
        })
    }
</script>
{% endblock %}
{% block content %}
<h2 class="title">Elice 로그인</h2>
<hr>
<div class="card">
    <div class="card-body">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" id='userId' class="form-control" placeholder="elice">
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="userPw">
            </div>
        </div>
        <button class="btn btn-primary" onclick=login()>로그인하기</button>
        <a href="/join" class="btn btn-primary">회원가입하기</a>
    </div>
</div>
<hr>

{% endblock %}